<div class="signup-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        SIGN UP
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onLogin(formGroup.value)" class="form">
        <mat-form-field floatLabel="never" class="form-element">
          <input name = "email" type="text" matInput placeholder="Username" formControlName="email">
          <mat-error *ngIf="formGroup.controls['email'].invalid">
            {{getError('user')}}
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="form-element">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="!formGroup.controls['password'].valid">
            {{getError('pass')}}
          </mat-error>
        </mat-form-field>

        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Sign Up</button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
        Already a member?
        <a href="#" routerLink="/login">Sign in here</a>
    </mat-card-actions>
  </mat-card>
</div>







<!--<div class="row">
  <div class="col-sm-6">
    <div class="card m-0 p-0">
      <img src="../assets/images/background6.png" alt="Logo" class="left-panel-img" style="width:100%">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card m-0 p-0">
      <div class="card-header text-center">
        <p class="text-xl-center font-weight-bold signup-title">Register</p>
      </div>
      <div class="card-body">
          <form class="form-horizontal" (submit)="onSignup(signupForm)" #signupForm="ngForm" role="form">
              <div class="form-group">
                <div class="form-row">
    
                  <div class="col">
                    <label for="inputFName" class=" control-label">
                      First Name* </label>
                   
                      <input name="fname" class="form-control" id="inputFname" ngModel type="text" placeholder="First Name" #fnameInput="ngModel"
                        required>
                      <small class="text-danger" *ngIf="fnameInput.invalid && (fnameInput.touched || signupForm.submitted)">Please enter a valid first name.</small>
                    
                  </div>
    
    
                  <div class="col">
                    <label for="inputLName" class="control-label">
                      Last Name* </label>
                    
                      <input name="lname" class="form-control" id="inputLname" ngModel type="text" placeholder="Last Name" #lnameInput="ngModel"
                        required>
                      <small class="text-danger" *ngIf="lnameInput.invalid && (lnameInput.touched || signupForm.submitted)">Please enter a valid last name.</small>
                  
                  </div>
    
                </div>
              </div>
    
              <div class="form-group">
                <div class="form-row">
    
                  <div class="col">
                    <label for="inputDOB" class=" control-label">
                      Date of Birth* </label>
                    
                      <input name="dob" class="form-control" id="inputdob" ngModel type="date" placeholder="Date of Birth" #dobInput="ngModel"
                        required >
    
                      <small class="text-danger" *ngIf="dobInput.invalid && (dobInput.touched || signupForm.submitted)">Please enter a valid date of birth.</small>
                 
                  </div>
    
                  <div class="col">
                    <label class="control-label">
                      Gender* </label>
                    <br>
                    <div class="custom-control custom-radio custom-control-inline">
                   
                      <div class="custom-control custom-radio" *ngFor="let gndr of genders">
                        <input type="radio" class="custom-control-input" id="{{gndr}}" ngModel name="gendergroup" [value] = gndr #genderinput="ngModel">
                        <label class="custom-control-label" for="{{gndr}}">{{gndr}}</label>

                      </div>
                    </div>
    
                  </div>
                </div>
    
              </div>
    
    
              <div class="form-group">
                <label for="inputEmail3" class="control-label">
                  Email* </label>
                
                  <input name="email" class="form-control" id="inputEmail3" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel"
                    required email>
                  <small class="text-danger" *ngIf="emailInput.invalid && (emailInput.touched || signupForm.submitted)">Please enter a valid email.</small>
                
              </div>
              <div class="form-group">
                <label for="inputPassword3" class=" control-label">
                  Password*</label>
               
                  <input type="password" name="password" ngModel class="form-control" #passwordInput="ngModel" id="inputPassword3" placeholder="Password"
                    required="">
                  <small class="text-danger" *ngIf="passwordInput.invalid && (passwordInput.touched || signupForm.submitted)">Please enter a valid password.</small>
               
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 ">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                
                  <button type="submit" class="btn btn-primary btn-block btn-sm">
                    Sign up</button>
                  <button type="reset" class="btn btn-secondary btn-block btn-sm">
                    Reset</button>
                
              </div>
              <div class="form-group last">
                  Already Registered?
                  <a href="#" routerLink="/login">Signin here</a>
              </div>

            </form>
</div>
<div class="card-footer">

</div>
</div>
</div>
</div>-->