
.row .col-sm-6, left-panel-img { 
  height: 100vh;
  overflow: auto; 
   }
 
 .left-panel-img, .card{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
 }
 .card-header{
   background-color: #4caaad;
   color: white;
 }

 .signup-title{
   font-size: 30px;
 }

 