<div class="row">

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-left">
                <nav aria-label="breadcrumb">
                    View Question
                    <hr>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Questions</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">ViewQuestions</li>
                    </ol>
                </nav>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">
                                    <select (change)="onSelectQuestType($event.target.value)" [(ngModel)]="selectedType" name="questype">
                                        <option value="0">--Question Type--</option>
                                        <option *ngFor="let questionType of questionTypes" value={ {questionType.id}}>{{questionType.name}}</option>
                                    </select>
                                </th>
                                <th class="border-0">
                                    <select (change)="onSelect($event.target.value)" name="quesCat" [(ngModel)]="selectedCat">
                                        <option value="0">--Category--</option>
                                        <option *ngFor="let category of categories" value={ {category.id}}>{{category.name}}</option>
                                    </select>

                                </th>
                                <th class="border-0">
                                    <select name="quesSubCat" [(ngModel)]="selectedSubCat">
                                        <option value="0">--Sub category--</option>
                                        <option *ngFor="let subcategory of subCategories " value={ {subcategory.id}}>{{subcategory.name}}</option>
                                    </select>
                                </th>
                                <th class="border-0">Question</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr name="Questionrow" *ngFor="let question of questions">
                                <td>1</td>

                                <td>Technical </td>
                                <td>AS400 </td>
                                <td value={ {question.id}}>{{question.name}}</td>
                                <td>
                                    <button type="edit" class="btn  btn-light btn-sm">
                                        Edit </button>
                                    <button type="view" class="btn btn-light btn-sm">View</button>
                                </td>


                            </tr>

                            <tr>
                                <td colspan="9">
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>