<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-white bg-primary">
                <nav aria-label="breadcrumb">
                    Questions
                </nav>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0 bg-info">
                                <th>Question Type</th>
                                <th>Question Category</th>
                                <th>Question Sub-category</th>
                                <th>Question </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            <tr class="border-0">
                                <th class="border-0">
                                    <select class= "mdb-select md-form colorful-select dropdown-danger" (change)="onSelectQuestType($event.target.value)"
                                        [(ngModel)]="selectedType.id" name="questype" >
                                        <option value="0">All</option>
                                        <option *ngFor="let questionType of questionTypes" value={{questionType.id}}>
                                            {{questionType.name}}</option>
                                    </select>
                                </th>
                                <th class="border-0">
                                    <select (change)="onSelect($event.target.value)" [(ngModel)]="selectedCat.id"
                                        name="quesCat">
                                        <option value="0">All</option>
                                        <option *ngFor="let category of categories" value={{category.id}}>
                                            {{category.name}}</option>
                                    </select>
                                </th>
                                <th class="border-0">
                                    <select  name="quesSubCat" (change)= "onSubCatSelect($event.target.value)" [(ngModel)]="selectedSubCat.id">
                                        <option value="0">All</option>
                                        <option *ngFor="let subcategory of subCategories " value={{subcategory.id}}>
                                            {{subcategory.name}}</option>
                                    </select>
                                </th>
                                <th>
                                    <ejs-multiselect id='multiselectelement' [dataSource]='data' [placeholder]='placeholder' ></ejs-multiselect>
                                </th>
                                <th class="border-0">
                                    <form class="filter-form" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search" name="search-question" [(ngModel)] = "filterQuestion">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </th>
                                <th>
                                    <a role="button" data-toggle="modal" data-target="#create-question" class="btn btn-outline-success btn-sm">
                                        <i class="fa fa-plus"></i>
                                        <span>
                                            <strong> Add Question</strong>
                                        </span>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr name="Questionrow" *ngFor="let question of filteredQuestions">
                                <td>{{question.questype}}</td>
                                <td>{{question.quesCat}} </td>
                                <td>{{question.quesSubCat}}</td>
                                <td>
                                    <label class="sr-only">{{question.quesid}}</label> {{question.question}}</td>
                                <!-- <td> {{question.question}}</td> -->
                                <td>
                                    <a  class="btn btn-default a-btn-slide-text" (click)="onEdit(question)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-default a-btn-slide-text" (click)="onView(question)">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a class="btn btn-default a-btn-slide-text" (click)="onDelete(question)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-paginator [length]="totalQuestions" [pageSize]="questionsPerPage"
                        [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="filteredQuestions.length > 0">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ejs-multiselect id='multiselectelement' [dataSource]='data' [placeholder]='placeholder' ></ejs-multiselect> -->

<!-- <app-question-view></app-question-view> -->
<app-question-create></app-question-create>
<!-- <app-question-edit></app-question-edit> -->

    
