.row {
    margin-top: 25px;
    margin-bottom: 25px;
    /* padding-top: 10%;
    padding-left: 15%; */
    

}

.row{
    width: 100%;
}

a.btn:hover {
    transform: scale(1.1);
   
}
a.btn {
    transform: scale(0.8);
  
}

.card-header{
    /* background-color: #33b5e5!important; */
}

 .table{

    /* background-color: #53A3BC; */
    background: "../assets/images/homepage.jpg";
} 
